[submodule "Vendor/sidebar"]
	path = Vendor/sidebar
	url = https://github.com/mystcolor/JTRevealSidebarDemo.git
[submodule "Vendor/WeiboKit"]
	path = Vendor/WeiboKit
	url = https://github.com/PaulWoodIII/WeiboKit.git
[submodule "Vendor/sstoolkit"]
	path = Vendor/sstoolkit
	url = https://github.com/samsoffes/sstoolkit.git
[submodule "Vendor/sspulltorefresh"]
	path = Vendor/sspulltorefresh
	url = https://github.com/samsoffes/sspulltorefresh.git
[submodule "Vendor/TTTAttributedLabel"]
	path = Vendor/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
